In [62]:
# Comparison of anti-cancer skin treatment Capomulin versus other skin cancer treatment performed on 249 mice.
# A 45 days study that observed and measured scc tumor growths in mice to determine the efficacy of Capomulin compared to other treatment regimens.
# A summary of observations and insights using tables and figures to present the study results:
#                Look across all previously generated figures and tables and write at least three observations or inferences that can be made from the data.
#                  (Include these observation at the top of notebook)

In [63]:
# Interactive charting with %matplotlib notebook wasn't include because we will be creating multiple plots in a single notebook/lab w/o turning off interactive window.
# Import dependencies

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as st
import os

In [64]:
# Load from Resource folder and Read CSV files with mouse metada and study results (split into 2 files) 
# test with df.head and df.describe to make sure data loading properly
# file_to_load = "Resources/Mouse_metadata.csv"
# file_to_load_two = "Resources/Study_results.csv"
# df = pd.read_csv(file_to_load)
# df = pd.read_csv(file_to_load_2)
# combine the data into a single dataset using merge function

mouse_metadata_one = pd.read_csv(os.path.join("Resources", "Mouse_metadata.csv"))
study_results_two = pd.read_csv(os.path.join("Resources", "Study_results.csv"))

combine_mouse_study = pd.merge(mouse_metadata_one, study_results_two, on="Mouse ID")
combine_mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [65]:
combine_mouse_study.head(None)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [ ]:
# 2. Generate a summary statistics table consisting of the mean, median, variance, standard deviation, and SEM of the tumor volume for each drug regimen.
# research .agg function on a groupby

In [ ]:
# Create data for plotting

 skin_treatment = ["Mouse Id", "Drug Regimen", "Sex", "Age_months", "Weight", "Timepoint", "Tumor Volume", "Metastatic Sites"]
    dataframe

In [ ]:
# 3. Create a bar plot using both Panda's DataFrame.plot() and Matplotlib' pyplot that shows the number of total mice for each treatment regimen throughout the course of study.

In [ ]:
# 4. Generate a pie plot using both Panda's DataFrame.plot() and Matplotlib' pyplot that shows the distribution of female or male mice in the study.

In [ ]:
# 5. Calculate the final tumor volume of each mouse across four of the most promising treatment regimens: Capomulin, Ramicane, Infubinol, and Ceftamin. 
#    Calculate the quartiles and IQR and quantitatively determine if there are any potential outliers across all four treatment regimens.

In [ ]:
# 6. Using Matplotlib, generate a box and whisker plot of the final tumor volume for all four treatment regimens and highlight 
#     any potential outliers in the plot by changing their color and style.

In [ ]:
# 7. Select a mouse that was treated with Capomulin and generate a line plot of tumor volume vs. time point for that mouse.

In [ ]:
# 8. Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin treatment regimen.

In [ ]:
# 9. Calculate the correlation coefficient and linear regression model between mouse weight and average tumor volume for the Capomulin treatment.
     Plot the linear regression model on top of the previous scatter plot.